{{ define "main" }}
<div class="block">
  <h1 class="title">{{ .Title }}</h1>
    <h3 class="subtitle">
      <p class="subtitle is-6"><a href="/author/{{ .Params.author |urlize }}">{{ .Params.author}}</a> {{ .Date.Format "Jan 2, 2006" }}</p>
    </h3>
    <article class="content">
      {{ .Content }}
    </article>
    <div class="block">
        {{ with .PrevInSection }}
        <span class="subtitle is-6 m-1">Previous Post: <a class="link" href="{{ .Permalink }}">{{.Title}}</a></span>
        {{ end }}
        {{ with .NextInSection }}
        <span class="subtitle is-6 m-1">Next Post: <a class="link" href="{{ .Permalink }}">{{.Title}}</a></span>
        {{ end }}
    </div>
</div>
{{ end }}