{{$authorName:= .Params.author | urlize }}
<div class="column is-half is-full-mobile">
  <div class="card">
    <div class="card-image">
      <figure class="image is-2by1">
        <img src="{{ .Params.thumbnail }}" alt="{{ .Title }}">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <a href="/author/{{$authorName}}">
              <img class="is-rounded" src="/avatar/{{$authorName}}.png" alt="{{$authorName}}">
              <a>
          </figure>
        </div>
        <div class="media-content">
          <a class="title is-6" href="{{ .Permalink }}">{{ .Title }}<a>
              <p class="subtitle is-6"><a href="/author/{{$authorName}}">{{$authorName}}</a> {{
                .Date.Format "Jan 2, 2006" }}</p>
        </div>
      </div>

      <a class="subtitle is-6" href="{{ .Permalink }}">
        {{ .Summary }}
      </a>
      <a href="{{ .RelPermalink }}">……</a>
    </div>
  </div>
</div>