<head>
  <title>
    {{ .Site.Title }}
</title>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="https://unpkg.com/bulmaswatch/darkly/bulmaswatch.min.css">
<link href="https://unpkg.com/@fortawesome/fontawesome-free@5.13.0/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
<title>{{ block "title" . }}
  {{ .Site.Title }}
  {{ end }}</title>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-{{.Site.Params.adsensePubId}}"
  crossorigin="anonymous"></script>
</head>