<head>
  <title>
    {{ .Site.Title }}
</title>
<meta name="viewport" content="width=device-width">
<meta name="title" content="finan.club">
<meta name="description" content="finan.club offers the us stock analysis by ChatGPT ">
<meta name="keywords" content="Stocks Analysis,ChatGPT Trading,AI Analyst">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<link rel="stylesheet" href="https://unpkg.com/bulmaswatch/darkly/bulmaswatch.min.css">
<link href="https://unpkg.com/@fortawesome/fontawesome-free@5.13.0/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
<title>{{ block "title" . }}
  {{ .Site.Title }}
  {{ end }}</title>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-{{.Site.Params.adsensePubId}}"
  crossorigin="anonymous"></script>
</head>