<head>
  <title>
    {{ .Site.Title }}
</title>
<meta charset="utf-8">
<link rel="stylesheet" href="https://unpkg.com/bulmaswatch/darkly/bulmaswatch.min.css">
<title>{{ block "title" . }}
  {{ .Site.Title }}
  {{ end }}</title>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-{{.Site.Params.adsensePubId}}" crossorigin="anonymous"></script><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-{{.Site.Params.adsensePubId}}" crossorigin="anonymous"></script>
</head>