<aside class="column is-one-quarter is-full-mobile">
    {{$pathname:= trim .Path "/"}}
    {{if in $pathname "author/"}}
    <div class="block">
        {{$urlname:= .Name | urlize }}
        <img src="/avatar/{{ $urlname }}.jpg"></div>
    <div class="block">
        <p class="title is-4">{{.Name}}</p>
        <p class="subtitle is-6">
            {{index .Site.Params.profiles $urlname }}
        </p>
    </div>
    {{end}}
    <div class="block">
        <div class="block"><a class="subtitle is-6" href="/author">Authors</a></div>
        <div class="tags">
            {{ range .Site.Taxonomies.author.Alphabetical }}
            <div class="tag">
                <a href="{{ "author/" | relURL }}{{ .Name | urlize }}">{{ .Name }} ({{ .Count }})</a>
            </div>
            {{ end }}
        </div>
            <!-- toufu -->
    <ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-{{.Site.Params.adsensePubId}}"
    data-ad-slot="{{.Site.Params.adsenseUnitId}}"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
        <div class="block"><a class="subtitle is-6" href="/tags">Tags</a></div>
        <div class="tags">
            {{ range .Site.Taxonomies.tags.Alphabetical }}
                {{ if gt .Count 9 }}
                    <span class="tag">
                        <a href="{{ "tags/" | relURL }}{{ .Name | urlize }}">{{ .Name }} ({{ .Count }})</a>
                    </span>
                {{ end }}
            {{ end }}
        </div>
    </div>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</aside>