<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_7c694"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "autosize": true,
  "symbol": "{{ .Get "symbol" }}",
  "interval": "M",
  "timezone": "Etc/UTC",
  "theme": "dark",
  "style": "1",
  "locale": "en",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "hide_side_toolbar": true,
  "studies": [
    "STD;MA%1Cross"
  ],
  "container_id": "tradingview_7c694"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->